$bg-header: rgb(245, 245, 245);
$bg-footer: rgb(245, 245, 245);
$border-color: rgb(219, 219, 219);

.modal {
    position: fixed;
}
/* Modal background */
.modal-background {
    position: absolute; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.6); 
}
/* Content */
.modal-content {
    width: 40%; 
    display: flex;
    flex-direction: column;
    position: relative;
}
/* Content Header */
.modal-content-header {
    display: flex;
    justify-content: space-between;
    background-color: $bg-header;
    padding: 10px;
    border-bottom: 1px solid $border-color;
    border-top-left-radius:  5px;
    border-top-right-radius: 5px;
}
/* The Close Button */
.close {
    font-size: 36px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
/* Content Body */
.modal-content-body  {
    padding: 10px;
}
/* Content Footer */
.modal-content-footer {
    background-color: $bg-footer;
    padding: 10px;
    border-top: 1px solid $border-color;
    border-bottom-left-radius:  5px;
    border-bottom-right-radius: 5px;
}
/* Transition parameters */
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
